<!DOCTYPE html>
<html data-ng-app='lub-tmdb-example'>
<head>
    <meta charset="utf-8">
    <title>lub-tmdb-examples</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <style>

        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }

    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="span12">
            <h1>LUB-TMDB-API Examples</h1>
        </div>
    </div>
    <div class="row" ng-controller="SearchCtrl">
        <div class="span6">
            <h1>CONFIG</h1>

            <form ng-submit='exec("configuration","get")'>
                <button type="submit" class="btn">Show configuration</button>
            </form>
            <h1>SEARCH</h1>

            <form class="form-search" ng-submit='exec("search","movie",query)'>
                <input type="text" ng-model="query">
                <button class="btn" type="submit">Search Movie</button>
            </form>
            <form class="form-search" ng-submit='exec("search","collection",query)'>
                <input type="text" ng-model="query">
                <button class="btn" type="submit">Search Collection</button>
            </form>
            <form class="form-search" ng-submit='exec("search","company",query)'>
                <input type="text" ng-model="query">
                <button class="btn" type="submit">Search company</button>
            </form>
            <form class="form-search" ng-submit='exec("search","person",query)'>
                <input type="text" ng-model="query">
                <button class="btn" type="submit">Search Person</button>
            </form>
            <form class="form-search" ng-submit='exec("search","list",query)'>
                <input type="text" ng-model="query">
                <button class="btn" type="submit">Search List</button>
            </form>
            <form class="form-search" ng-submit='exec("search","keyword",query)'>
                <input type="text" ng-model="query">
                <button class="btn" type="submit">Search Keyword</button>
            </form>
            <form class="form-search" ng-submit="movieInfos()">
                <legend>Movie informations</legend>
                <input type="text" ng-model='identifier'>

                <p>
                    <label>
                        movie
                        <input type="checkbox" ng-model='movie.movie'>
                    </label>
                    <label>
                        alternativeTitles
                        <input type="checkbox" ng-model='movie.alternativeTitles'>
                    </label>
                    <label>
                        casts
                        <input type="checkbox" ng-model='movie.casts'>
                    </label>
                    <label>
                        images
                        <input type="checkbox" ng-model='movie.images'>
                    </label>
                    <label>
                        keywords
                        <input type="checkbox" ng-model='movie.keywords'>
                    </label>
                    <label>
                        releases
                        <input type="checkbox" ng-model='movie.releases'>
                    </label>
                    <label>
                        trailers
                        <input type="checkbox" ng-model='movie.trailers'>
                    </label>
                    <label>
                        translations
                        <input type="checkbox" ng-model='movie.translations'>
                    </label>
                    <label>
                        similarMovies
                        <input type="checkbox" ng-model='movie.similarMovies'>
                    </label>
                    <label>
                        lists
                        <input type="checkbox" ng-model='movie.lists'>
                    </label>
                    <label>
                        changes
                        <input type="checkbox" ng-model='movie.changes'>
                    </label>
                    <label>
                        lastest
                        <input type="checkbox" ng-model='movie.latest'>
                    </label>
                    <label>
                        upcoming
                        <input type="checkbox" ng-model='movie.upcoming'>
                    </label>
                    <label>
                        nowPlaying
                        <input type="checkbox" ng-model='movie.nowPlaying'>
                    </label>
                    <label>
                        popular
                        <input type="checkbox" ng-model='movie.popular'>
                    </label>
                    <label>
                        topRated
                        <input type="checkbox" ng-model='movie.topRated'>
                    </label>
                </p>
                <button class="btn" type="submit">GET</button>
            </form>
            <h1>Collections</h1>

            <form class="form-search" ng-submit='exec("collection","collection",collectionQuery)'>
                <input type="text" data-ng-model="collectionQuery">
                <button class="btn" type="submit">Show Collection</button>
            </form>
            <form ng-submit='exec("collection","images",collectionQuery)'>
                <input type="text" data-ng-model="collectionQuery">
                <button class="btn" type="submit">Show Collection Images</button>
            </form>
            <h1>People</h1>

            <form ng-submit='exec("people","person",peopleQuery)'>
                <input type="text" data-ng-model="peopleQuery">
                <button class="btn" type="submit">Show Person</button>
            </form>
            <form ng-submit='exec("people","images",peopleQuery)'>
                <input type="text" data-ng-model="peopleQuery">
                <button class="btn" type="submit">Show Person Images</button>
            </form>
            <form ng-submit='exec("people","credits",peopleQuery)'>
                <input type="text" data-ng-model="peopleQuery">
                <button class="btn" type="submit">Show Person Credits</button>
            </form>
            <form ng-submit='exec("people","changes",peopleQuery)'>
                <input type="text" data-ng-model="peopleQuery">
                <button class="btn" type="submit">Show Person Changes</button>
            </form>
            <form ng-submit='exec("people","latest")'>
                <button class="btn" type="submit">Show Latest Person</button>
            </form>
            <h1>List</h1>

            <form ng-submit='exec("list","list",listQuery)'>
                <input type="text" data-ng-model="listQuery">
                <button class="btn" type="submit">Show List</button>
            </form>
            <h1>Companies</h1>
            <form ng-submit='exec("company","company",companyQuery)'>
                <input type="text" data-ng-model="companyQuery">
                <button class="btn" type="submit">Show Company Details</button>
            </form>
            <form ng-submit='exec("company","movies",companyQuery)'>
                <input type="text" data-ng-model="companyQuery">
                <button class="btn" type="submit">Show Movies of Company</button>
            </form>
            <h1>Genres</h1>
            <form ng-submit='exec("genre","list")'>
                <button class="btn" type="submit">Show Genre List</button>
            </form>
            <form ng-submit='exec("genre","movies",genreQuery)'>
                <input type="text" data-ng-model="genreQuery">
                <button class="btn" type="submit">Show Movies With Genre</button>
            </form>
            <h1>Keywords</h1>
            <form ng-submit='exec("keyword","keyword",keywordQuery)'>
                <input type="text" data-ng-model="keywordQuery">
                <button class="btn" type="submit">Show Keyword Details</button>
            </form>
            <form ng-submit='exec("keyword","movies",keywordQuery)'>
                <input type="text" data-ng-model="keywordQuery">
                <button class="btn" type="submit">Show Movies with keyword</button>
            </form>
            <h1>Changes</h1>
            <form ng-submit='exec("change","movie")'>
                <button class="btn" type="submit">Show changes on movies</button>
            </form>
            <form ng-submit='exec("change","person")'>
                <button class="btn" type="submit">Show Changes on persons</button>
            </form>
        </div>
        <div class="span6">
            <h1>RAW Search Results</h1>

            <p>
            <pre>{{searchResult}}</pre>
            </p>
        </div>
        <div class="row">
            <div class="span12">
            </div>
        </div>
    </div>

</div>
<style>
    label {
        padding: 0 10px;
    }
</style>
<script src="../test/lib/angular.1.1.1.js"></script>
<script src="../build/v0.0.6/lub-tmdb.0.0.6.js"></script>
<script>
    var app = angular.module('lub-tmdb-example', ['lub-tmdb-api'])
            .value('lubTmdbApiKey', '4817ea3961098299634ff3c367e44551');
    app.controller('SearchCtrl', function ($scope, lubTmdbApi) {
        var suc = function (results) {
            $scope.searchResult = angular.toJson(results, true);
        };
        var err = function (results) {
            $scope.searchResult = results;
        };
        $scope.exec = function(type,method,query){
            lubTmdbApi[type][method](query).then(suc,err);
        }

        $scope.movieInfos = function () {
            var rename = {
                alternativeTitles:'alternative_titles',
                similarMovies:'similar_movies',
                nowPlaying:'now_playing',
                topRated:'top_rated'
            }
            var needsNoIdentifier = ['latest', 'upcoming', 'nowPlaying', 'popular', 'topRated'];
            var action, append_to_response = [];
            angular.forEach($scope.movie, function (value, key) {
                if (value && !action) {
                    action = key;
                } else if (value && action) {
                    if (rename[key]) {
                        append_to_response.push(rename[key]);
                    } else {
                        append_to_response.push(key);
                    }
                }
            });
            if (!action) {
                action = 'movie';
            }
            if (needsNoIdentifier.indexOf(action) >= 0) {
                lubTmdbApi.movie[action]({append_to_response:append_to_response.join(',')}).then(suc, err);
            } else {
                lubTmdbApi.movie[action]($scope.identifier, {append_to_response:append_to_response.join(',')}).then(suc, err);
            }
        }
    });
</script>
</body>
</html>